.news-section {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 8rem 16rem;
    gap: 8rem;
    justify-content: space-between;
}

.news-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: 9rem;
    width: 25%;
}

.title-box-news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.1rem;
}

.news-title h3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    text-align: left;
    font: normal normal bold 4.5rem/4.7rem Inter;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
}

.news-title h3 span {
    width: 3.3rem;
    height: 3.3rem;
    font-size: 3.3rem;
}

.title-box-news p {
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    min-width: max-content;
    font-size:1.4rem;
}

.news-list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font: bold 1.5rem/1.8rem Noto Sans JP;
    color: #FFFFFF;
    background: #000000;
    padding: 1.5rem 2rem;
    border-radius: 70px;
    gap: 3rem;
    min-width: max-content;
}

.news-list-btn p {
    display: flex;
    gap: 0.7rem;
    font-size: 1.5rem;
}

.news-list-btn span {
    font-size: 2.2rem;
}

.news-main-content {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 3.4rem;
}

.news-links-top {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    font-size:1.5rem;
}

.news-links-top::-webkit-scrollbar {
    display: none;
}

.news-links-top a {
    background: #F3F3F6;
    border-radius: 100px;
    text-align: left;
    color: #000000;
    padding: 1.4rem 3.6rem;
    min-width: fit-content;
}

.news-links-top a:nth-child(1) {
    background: #000000;
    color: #FFFFFF;
}

.news-links-top a:nth-child(2) {
    padding: 1.4rem 4.5rem;
    background: #D30000;
    color: #FFFFFF;
}

.news-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.news-item {
    display: flex;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid #EBEBEB;
    gap: 2rem;
    padding: 2.4rem 1.6rem;
}

.news-items-left {
    display: flex;
    align-items: center;
    gap: 2rem;
    min-width: fit-content;
}

.news-item span {
    text-align: left;
    font: normal normal normal 13px/47px Noto Sans JP;
    letter-spacing: 0px;
    color: #A8A8A8;
    text-transform: uppercase;
    min-width: fit-content;
}

.news-items-left a {
    background: #F3F3F6 0% 0% no-repeat padding-box;
    border-radius: 100px;
    text-align: left;
    font: normal normal bold 14px/19px Noto Sans JP;
    letter-spacing: 0px;
    color: #000000;
    padding: .6rem 2.3rem;
    min-width: fit-content;
}

.news-items-right {
    text-align: left;
    font: normal normal bold 15px/18px Noto Sans JP;
    letter-spacing: 0px;
    color: #000000;
}

.news-items-red {
    display: flex;
    align-items: center;
    gap: 2rem;
    min-width: fit-content;
}

.news-items-red a{
    padding: .6rem 2.5rem;
    background: #D30000 0% 0% no-repeat padding-box;
    border-radius: 100px;
    text-align: left;
    font: normal normal bold 14px/19px Noto Sans JP;
    letter-spacing: 0px;
    color: #FFFFFF;
    min-width: fit-content;
}

.news-item p {
    text-align: left;
    font: normal normal bold 15px/18px Noto Sans JP;
    letter-spacing: 0px;
    color: #000000;
}

.news-title-2 {
    display: none;
}

@media (max-width: 1024px) {
    .news-section {
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding: 8rem 2rem;
}
}

@media (max-width: 960px) {
    .news-section {
        margin: 0 auto;
        padding: 4rem 1rem;
        flex-direction: column;
    }
    .news-title {
        align-items: flex-start;
        gap: 3rem;
        width: 100%;
    }
    .news-list-btn {
        padding: 1.5rem 5rem;
    }
    .news-main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3.4rem;
    }
    .news-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .news-title-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 9rem;
        width: 25%;
        align-items: center;
        gap: 3rem;
        width: 100%;
    }

    .title-box-news h2{
        font-size:2.8rem;
    }

    .news-links-top a{
        font-size:1.2rem;
    }

    .news-items-red span{
        font-size:1.2rem;
    }

    .news-items-red a{
        font-size:1.1rem;
    }

    .news-items-right{
        font-size:1.3rem;
    }

    .news-section {
        padding: 4rem;
        gap: 5rem;
    }
    .news-list-btn {
        display: none;
    }
    .news-list-btn-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        font: bold 1.5rem/1.8rem Noto Sans JP;
        color: #FFFFFF;
        background: #000000;
        padding: 1.5rem 2rem;
        border-radius: 70px;
        gap: 3rem;
        min-width: max-content;
    }
    .news-list-btn-2 p {
        display: flex;
        gap: 0.7rem;
        font-size:1.5rem;
    }
    .news-list-btn-2 span {
        font-size: 2.2rem;
    }
    
}

