.container-nl {
    max-width: 192rem;
    margin: auto;
}

.contener-clp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 94rem;
    width: 100%;
}

.title-list-pages {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 20rem 16rem 4rem 16rem;
    margin: 0 auto;
}

.tl-texts {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.title-2-column {
    display: none !important;
}

.tl-texts span {
    font-size: 5.4rem;
    width: 6rem;
    height: 6rem;
}

.tl-texts span img {
    width: 6rem;
    height: 6rem;
}

.tl-texts h1 {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 5.4rem;
}

.tl-texts p {
    font-size: 4.6rem;
    text-align: center;
}

.tl-link-tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.tl-link-tags p {
    font-size: 1.6rem;
}

.tl-link-tags p:first-child {
    color: #A8A8A8;
}

.tl-link-tags svg path {
    fill: #A8A8A8;
}

.lpr-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3.4rem;
    gap: 3rem;
}

.lpr-item p {
    text-align: left;
    font: normal normal bold 2.2rem/3.2rem Inter;
    letter-spacing: 0px;
    color: #000000;
}

.lpr-item button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: none;
    background: none;
    text-decoration: none;
}

.lpr-item-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.lpr-link-btn {
    background: #F3F3F6;
    border-radius: 100px;
    text-align: left;
    color: #000000;
    width: max-content;
    padding: 1.4rem 3.6rem;
    min-width: fit-content;
    font: normal normal bold 1.5rem/1.9rem Noto Sans JP;
}

.bg-black {
    background: #000000 !important;
    color: #FFFFFF !important;
}

.bg-red {
    padding: 1.4rem 4.5rem !important;
    background: #D30000 !important;
    color: #FFFFFF !important;
}

.list-pages-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

.lpr-drop-down {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 1.1rem 3.6rem;
    width: max-content;
    min-width: fit-content;
    gap: 3rem;
}

.lpr-drop-down p {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0px;
    color: #000000;
}

.lpr-drop-down span {
    display: flex;
    align-items: center;
}

.column-list-section {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 8rem 16rem;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
}

.column-list-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: 9rem;
    width: 25%;
}

.title-box-column-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.1rem;
}

.column-list-title h3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    text-align: left;
    font: normal normal bold 4.5rem/4.7rem Inter;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
}

.column-list-title h3 span {
    width: 3.3rem;
    height: 3.3rem;
    font-size: 3.3rem;
}

.title-box-column-list p {
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    min-width: max-content;
}

.column-list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font: bold 1.5rem/1.8rem Noto Sans JP;
    color: #FFFFFF;
    background: #000000;
    padding: 1.5rem 2rem;
    border-radius: 70px;
    gap: 3rem;
    min-width: max-content;
}

.column-list-btn p {
    display: flex;
    gap: 0.7rem;
    font-size: 1.5rem;
}

.column-list-btn span {
    font-size: 2.2rem;
}

.column-list-main-content {
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
}

.column-list-links-top {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    font-size: 1.5rem;
}

.column-list-links-top::-webkit-scrollbar {
    display: none;
}

.column-list-links-top a {
    background: #F3F3F6;
    border-radius: 100px;
    text-align: left;
    color: #000000;
    padding: 1.4rem 3.6rem;
    min-width: fit-content;
}

.column-list-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-top: 1px solid #EBEBEB;
}

.column-list-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid #EBEBEB;
    gap: 2rem;
    padding: 2.4rem 1.6rem;
    width: 100%;
}

.cl-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    min-width: 20rem;
    overflow: hidden;
    height: 13rem;
    border-radius: 10px;
}

.cl-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cl-content-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
}

.column-list-items-left a {
    background: #F3F3F6 0% 0% no-repeat padding-box;
    border-radius: 100px;
    text-align: left;
    font: normal normal bold 14px/19px Noto Sans JP;
    letter-spacing: 0px;
    color: #000000;
    padding: .6rem 2.3rem;
    min-width: fit-content;
}

.column-list-items-right {
    text-align: left;
    font: normal normal bold 15px/18px Noto Sans JP;
    letter-spacing: 0px;
    color: #000000;
}

.column-list-texts-top {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.column-list-texts-top span {
    text-align: left;
    font-size: 1.3rem;
    font-family: Noto Sans JP;
    letter-spacing: 0px;
    color: #A8A8A8;
    text-transform: uppercase;
    min-width: fit-content;
}

.cl-contente-tag-links {
    display: flex;
    align-items: center;
    gap: .6rem;
    flex-wrap: wrap;
}

.cl-contente-tag-links a {
    padding: .6rem 2.5rem;
    background: #F3F3F6;
    border-radius: 100px;
    text-align: left;
    font: normal normal bold 1.4rem/1.9rem Noto Sans JP;
    letter-spacing: 0px;
    color: #000000;
    min-width: fit-content;
}

.cl-text-content {
    text-align: left;
    font-size: 1.5rem;
    font-family: Noto Sans JP;
    letter-spacing: 0px;
    color: #000000;
}

.column-list-title-2 {
    display: none;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.pagination a {
    display: flex;
    padding: .4rem .8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    color: #000000;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    border-radius: 3.5rem;
}

.prev,
.next {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    border: 1px solid #707070;
    color: #707070;
}

.prev svg path,
.next svg path {
    fill: #707070;
}

.active,
.active svg path {
    fill: #000000;
    border-color: #000;
    text-decoration: underline;
    text-decoration-color: #000;
}
.for_phone {
    display: none;
}
.column-list-links-top {
    display: none;
}
@media (max-width: 1200px) {
    .title-list-pages {
        gap: 4rem;
        padding: 16rem 4rem 0 4rem;
    }
   
    .column-list-links-top {
        display: flex;
        width: calc(100% + 8rem);
        justify-content: flex-start;
        max-width: 96rem;
        padding: 0 4rem;
    }

    .column-list-section {
        margin: 0 auto;
        padding: 8rem 4rem;
        flex-direction: column;
    }
    .column-list-title {
        align-items: flex-start;
        gap: 3rem;
        width: 100%;
    }
    .column-list-btn {
        padding: 1.5rem 5rem;
    }
    .column-list-main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 3.4rem;
    }
    .column-list-item {
        align-items: flex-start;
        gap: 1rem;
    }
    .list-pages-right .lpr-item:first-child {
        display: none;
    }
    .list-pages-right {
        width: 100%;
        max-width: 94rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .list-pages-right .lpr-item {
        padding-left: 0;
        width: 100%;
    }
    .column-list-section {
        gap: 2rem;
    }
    .pagination {
        padding: 0;
    }
    .lpr-drop-down {
        width: 100%;
        max-width: 45rem;
    }
    
}

@media (max-width: 1024px) {
    .column-list-section {
        width: 100%;
        display: flex;
        margin: 0 auto;
    }
    .tl-texts span {
        font-size: 4.6rem;
        width: 4.6rem;
        height: 4.6rem;
    }
    .tl-texts span img {
        width: 4.6rem;
        height: 4.6rem;
    }
    .tl-texts h1 {
        font-size: 4.6rem;
    }
    .tl-texts p {
        font-size: 2.8rem;
    }
}

@media (max-width: 768px) {


    .title-2-column {
        display: flex !important;
    }
    .title-1-column {
        display: none !important;
    }
    .column-list-main-content {
        gap: 2rem;
        padding-top: 1rem;
    }
    .news-list-title-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 9rem;
        width: 25%;
        align-items: center;
        gap: 3rem;
        width: 100%;
    }
    .tl-texts {
        align-items: flex-start;
        justify-content: center;
    }
    .title-list-pages {
        padding: 16rem 2rem 0 2rem;
    }
    .column-list-links-top {
        width: calc(100% + 4rem);
        padding: 0 2rem;
    }
    .tl-texts span {
        font-size: 2.8rem;
        width: 3rem;
        height: 3rem;
    }
    .tl-texts span img {
        width: 3rem;
        height: 3rem;
    }
    .tl-texts h1 {
        font-size: 2.8rem;
    }
    .tl-texts p {
        font-size: 1.8rem;
    }
    .tl-link-tags {
        display: none;
    }
    .title-box-news-list h2 {
        font-size: 2.8rem;
    }
    .column-list-links-top a {
        font-size: 1.2rem;
    }
    .column-list-items-red span {
        font-size: 1.2rem;
    }
    .column-list-items-red a {
        font-size: 1.1rem;
    }
    .column-list-items-right {
        font-size: 1.3rem;
    }
    .column-list-section {
        padding: 2rem 2rem 5rem 2rem;
        gap: 5rem;
    }
    .column-list-btn {
        display: none;
    }
    .column-list-btn-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        font: bold 1.5rem/1.8rem Noto Sans JP;
        color: #FFFFFF;
        background: #000000;
        padding: 1.5rem 2rem;
        border-radius: 70px;
        gap: 3rem;
        min-width: max-content;
    }
    .column-list-btn-2 p {
        display: flex;
        gap: 0.7rem;
        font-size: 1.5rem;
    }
    .column-list-btn-2 span {
        font-size: 2.2rem;
    }
    .column-list-item {
        padding: 1rem;
    }
    .pagination {
        width: 100%;
        max-width: 44rem;
        gap: .5rem;
        justify-content: space-around;
    }
    .column-list-links-top a {
        padding: .6rem 2.5rem;
    }
    .column-list-links-top a:nth-child(2) {
        padding: .6rem 3rem;
    }
    .lpr-drop-down {
        width: 100%;
        max-width: 45rem;
        padding: 0.8rem 3.6rem;
    }
}

@media(max-width: 520px) {
    .column-list-item {
        flex-direction: column;
    }
    .cl-img-box {
        width: 100%;
        height: auto;
    }
    .cl-contente-tag-links a {
        padding: .6rem 1.5rem;
        background: #000000;
        border-radius: 100px;
        text-align: left;
        font-size: 1.2rem;
        letter-spacing: 0px;
        color: #FFFFFF;
        min-width: fit-content;
    }
    .for_phone {
        display: flex;
    }
    .column-list-items {
        border-top: none;
    }
    
    .column-list-item {
        border-bottom: none;
    
    }
}